tr(id="student-"+ id,class=style)
    td
        input(type="checkbox" value=email)
    td
        a(href="mailto:#{email}") #{username}
    td #{major}
    td
        if (granted)
            i.glyphicon.glyphicon-flag.stat-type
        |#{nbOpenPending}/#{nbInterwiews}
        i.glyphicon.glyphicon-briefcase.stat-type(title="pending interviews")

        |#{nbOpen}/#{nbApplications}
        i.glyphicon.glyphicon-envelope.stat-type(title="open applications")
    td #{strLastUpdate}

