div.progress
   if (rejected > 0)
    div.progress-bar.progress-bar-danger(style="width: #{rejected_pct}%") #{rejected}
   if (waiting > 0)
    div.progress-bar.progress-bar-warning(style="width: #{waiting_pct}%") #{waiting}
   if (pending > 0)
    div.progress-bar.progress-bar-info(style="width: #{pending_pct}%") #{pending}
   if (granted > 0)
    div.progress-bar.progress-bar-success(style="width: #{granted_pct}%") #{granted}

